/*contains all variables*/

/*variables are placeholders for storing information that you want to resuse throughout your styles.
You can store things like colors, font-stacks, or any css value you think you might want to reuse.
SCSS uses the $ symbol to declare a variable */


$primary-dark: #FFF5E0;

$secondary-dark: #666;

$dark: #FF9900;